@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Excercise</h1>
    <p>HandsOnExercise is a Demo using architecture 3 layers:</p>
    <p>
        <b>Data Access Layer:</b> Entity Framework Core<br />
        <b>Business Logic:</b> Models and Factory Pattern<br />
        <b>Presentation:</b>
        <ul>
            <li>MVC Net Core</li>
            <li>API Net Core</li>
            <li>Angular.js</li>
            <li>Boostrap</li>
            <li>swagger</li>
        </ul>
    </p>
</div>
